[submodule "homer5-docker"]
	path = homer5-docker
	url = https://github.com/sipcapture/homer5-docker.git
[submodule "docker-asterisk"]
	path = docker-asterisk
	url = https://github.com/dougbtv/docker-asterisk.git
[submodule "docker-opensips"]
	path = docker-opensips
	url = https://github.com/OpenSIPS/docker-opensips.git
[submodule "kamailio-ci"]
	path = kamailio-ci
	url = https://github.com/kamailio/kamailio-ci.git

[submodule "addons/asterisk"]
	path = addons/asterisk
	url = https://github.com/andrius/asterisk

[submodule "addons/freeswitch-container"]
	path = addons/freeswitch-container
	url = https://github.com/BetterVoice/freeswitch-container.git
[submodule "pkgs/freeswitch"]
	path = pkgs/freeswitch
	url = https://github.com/signalwire/freeswitch.git
[submodule "pkgs/pjproject"]
	path = pkgs/pjproject
	url = https://github.com/pjsip/pjproject.git
[submodule "pkgs/opensips"]
	path = pkgs/opensips
	url = https://github.com/OpenSIPS/opensips.git
[submodule "pkgs/kamailio"]
	path = pkgs/kamailio
	url = https://github.com/kamailio/kamailio.git
[submodule "pkgs/sofia-sip"]
	path = pkgs/sofia-sip
	url = https://github.com/freeswitch/sofia-sip.git
[submodule "pkgs/rtpengine"]
	path = pkgs/rtpengine
	url = https://github.com/sipwise/rtpengine.git
[submodule "pkgs/rtpproxy"]
	path = pkgs/rtpproxy
	url = https://github.com/sippy/rtpproxy.git
[submodule "ansible/ansible-role-fsmrf"]
	path = ansible/ansible-role-fsmrf
	url = https://github.com/drachtio/ansible-role-fsmrf.git
[submodule "ansible/ansible-role-drachtio"]
	path = ansible/ansible-role-drachtio
	url = https://github.com/drachtio/ansible-role-drachtio.git
[submodule "ansible/ansible-role-nodejs"]
	path = ansible/ansible-role-nodejs
	url = https://github.com/drachtio/ansible-role-nodejs.git
[submodule "ansible/ansible-role-rtpengine"]
	path = ansible/ansible-role-rtpengine
	url = https://github.com/KevinAtLeap/ansible-role-rtpengine.git
[submodule "playbooks/ansible-playbooks-voip"]
	path = playbooks/ansible-playbooks-voip
	url = https://github.com/kevinnguyenai/ansible-playbooks-voip
[submodule "mlan-asterisk"]
	path = asterisk/docker-asterisk
	url = https://github.com/mlan/docker-asterisk.git
